<!-- <p>instruction works!</p>
<app-page-header [title]="'Instruction'" [activeTitle]="'Jobs'" [title1]="'Job Details'"></app-page-header> -->

      <div class="container pt-4">
          <div class="grid grid-cols-12 gap-6">
            <div class="col-span-12">
              <div class="box custom-box">
                <div class="box-body">
                  <h5 class="font-semibold">Instructions</h5>
                  <p class="opacity-[0.9]">Est amet sit vero sanctus labore no sed ipsum ipsum nonumy. Sit ipsum sanctus ea magna
                    est. Aliquyam sed amet. Kasd diam rebum sit ipsum ipsum erat et kasd.Est amet sit vero sanctus labore no sed
                    ipsum ipsum nonumy vero sanctus labore.A officiis optio temporibus minima facilis...</p>
                  <p class="mb-6 opacity-[0.9]">Sit ipsum sanctus ea magna est. Aliquyam sed amet. Kasd diam rebum sit ipsum ipsum
                    erat et kasd.Est amet sit vero sanctus labore no sed ipsum ipsum nonumy vero sanctus labore..</p>
                  <h5 class="font-semibold">Responsibilities</h5>
                  <ol class="list-group !border-0 list-unstyled list-group-numbered mb-4 ps-8 list-decimal">
                    <li class="list-group-item !border-0 !px-0">Design thoughtful, beautiful, and useful software user interfaces
                      and experiences in a team environment..</li>
                    <li class="list-group-item !border-0 !pb-1 !pt-0 !px-0">Create user-centered designs by considering market
                      analysis, customer feedback, site metrics, and usability findings.</li>
                    <li class="list-group-item !border-0 !pb-1 !pt-0 !px-0">Work with stakeholders to plan projects for effective
                      delivery while maintaining high standards for design..</li>
                    <li class="list-group-item !border-0 !pb-1 !pt-0 !px-0">Be a passionate and effective advocate for design with
                      non-design audiences..</li>
                    <li class="list-group-item !border-0 !pb-1 !pt-0 !px-0">Use business requirements, user and market research to
                      assist in developing scenarios, use cases, and high-level requirements..</li>
                  </ol>
                  <h5 class="font-semibold">Requirements</h5>
                  <ol class="list-group !border-0 list-unstyled list-group-numbered mb-0 ps-8 list-decimal">
                    <li class="list-group-item !border-0 !px-0">Design thoughtful, beautiful, and useful software user interfaces
                      and experiences in a team environment..</li>
                    <li class="list-group-item !border-0 !pb-1 !pt-0 !px-0">Create user-centered designs by considering market
                      analysis, customer feedback, site metrics, and usability findings.</li>
                    <li class="list-group-item !border-0 !pb-1 !pt-0 !px-0">Work with stakeholders to plan projects for effective
                      delivery while maintaining high standards for design..</li>
                    <li class="list-group-item !border-0 !pb-1 !pt-0 !px-0">Be a passionate and effective advocate for design with
                      non-design audiences..</li>
                    <li class="list-group-item !border-0 !pb-0 !pt-0 !px-0">Use business requirements, user and market research to
                      assist in developing scenarios, use cases, and high-level requirements..</li>
                  </ol>
                </div>
              </div>
              <div class="box custom-box  !bg-primary/10 !border-0 !shadow-none">
                <div class="box-body">
                  <div class="grid grid-cols-12 items-center">
                    <div class="lg:col-span-6 col-span-12">
                      <div class="form-check form-check-lg flex items-center">
                        <input class="form-check-input" type="checkbox" value="" id="checkebox-lg" [(ngModel)]="isChecked" >
                        <label class="form-check-label text-sm" for="checkebox-lg">
                          I have thoroughly reviewed these instructions.
                        </label>
                      </div>
                      <!-- <h5 class="font-semibold mb-0">🖐 Was this job fit for someone?</h5> -->
                    </div>
                    <div class="lg:col-span-6 col-span-12 text-end">
                      <a (click)="startjob()" class="ti-btn ti-btn-success-full ti-btn-lg dark:!border-defaultborder/10">
                        <i class='bx bx-play bx-sm  bx-burst'></i>Start Job
                      </a>
                    </div>
                  </div>
                </div>
              </div>

            </div>
          </div>
      </div>


