<div class="grid grid-cols-2 gap-2 pl-3 pr-3">
  <div class="">
    <a href="javascript:void(0);"
      class="p-4 items-center related-app block text-center rounded-sm hover:bg-gray-50 dark:hover:bg-black/20">
      <div>
        <img src="./assets/images/apps/figma.png" alt="figma"
          class="!h-[1.75rem] !w-[1.75rem] text-2xl avatar text-primary flex justify-center items-center mx-auto">
        <div class="text-[0.75rem] text-defaulttextcolor dark:text-[#8c9097] dark:text-white/50">Figma</div>
      </div>
    </a>
  </div>
  <div class="">
    <a href="javascript:void(0);"
      class="p-4 items-center related-app block text-center rounded-sm hover:bg-gray-50 dark:hover:bg-black/20">
      <img src="./assets/images/apps/microsoft-powerpoint.png" alt="miscrosoft"
        class="leading-[1.75] text-2xl !h-[1.75rem] !w-[1.75rem] align-middle flex justify-center mx-auto">
      <div class="text-[0.75rem] text-defaulttextcolor dark:text-[#8c9097] dark:text-white/50">Power Point</div>
    </a>
  </div>
  <div class="">
    <a href="javascript:void(0);"
      class="p-4 items-center related-app block text-center rounded-sm hover:bg-gray-50 dark:hover:bg-black/20">
      <img src="./assets/images/apps/microsoft-word.png" alt="miscrodoftword" class="leading-none
                             text-2xl !h-[1.75rem] !w-[1.75rem] align-middle flex justify-center mx-auto">
      <div class="text-[0.75rem] text-defaulttextcolor dark:text-[#8c9097] dark:text-white/50">MS Word</div>
    </a>
  </div>
  <div class="">
    <a href="javascript:void(0);"
      class="p-4 items-center related-app block text-center rounded-sm hover:bg-gray-50 dark:hover:bg-black/20">
      <img src="./assets/images/apps/calender.png" alt="calander"
        class="leading-none text-2xl !h-[1.75rem] !w-[1.75rem] align-middle flex justify-center mx-auto">
      <div class="text-[0.75rem] text-defaulttextcolor dark:text-[#8c9097] dark:text-white/50">Calendar</div>
    </a>
  </div>
  <div class="">
    <a href="javascript:void(0);"
      class="p-4 items-center related-app block text-center rounded-sm hover:bg-gray-50 dark:hover:bg-black/20">
      <img src="./assets/images/apps/sketch.png" alt="apps"
        class="leading-none text-2xl !h-[1.75rem] !w-[1.75rem] align-middle flex justify-center mx-auto">
      <div class="text-[0.75rem] text-defaulttextcolor dark:text-[#8c9097] dark:text-white/50">Sketch</div>
    </a>
  </div>
  <div class="">
    <a href="javascript:void(0);"
      class="p-4 items-center related-app block text-center rounded-sm hover:bg-gray-50 dark:hover:bg-black/20">
      <img src="./assets/images/apps/google-docs.png" alt="docs"
        class="leading-none text-2xl !h-[1.75rem] !w-[1.75rem] align-middle flex justify-center mx-auto">
      <div class="text-[0.75rem] text-defaulttextcolor dark:text-[#8c9097] dark:text-white/50">Docs</div>
    </a>
  </div>
  <div class="">
    <a href="javascript:void(0);"
      class="p-4 items-center related-app block text-center rounded-sm hover:bg-gray-50 dark:hover:bg-black/20">
      <img src="./assets/images/apps/google.png" alt="google"
        class="leading-none text-2xl !h-[1.75rem] !w-[1.75rem] align-middle flex justify-center mx-auto">
      <div class="text-[0.75rem] text-defaulttextcolor dark:text-[#8c9097] dark:text-white/50">Google</div>
    </a>
  </div>
  <div class="">
    <a href="javascript:void(0);"
      class="p-4 items-center related-app block text-center rounded-sm hover:bg-gray-50 dark:hover:bg-black/20">
      <img src="./assets/images/apps/translate.png" alt="translate"
        class="leading-none text-2xl !h-[1.75rem] !w-[1.75rem] align-middle flex justify-center mx-auto">
      <div class="text-[0.75rem] text-defaulttextcolor dark:text-[#8c9097] dark:text-white/50">Translate</div>
    </a>
  </div>
  <div class="">
    <a href="javascript:void(0);"
      class="p-4 items-center related-app block text-center rounded-sm hover:bg-gray-50 dark:hover:bg-black/20">
      <img src="./assets/images/apps/google-sheets.png" alt="sheets"
        class="leading-none text-2xl !h-[1.75rem] !w-[1.75rem] align-middle flex justify-center mx-auto">
      <div class="text-[0.75rem] text-defaulttextcolor dark:text-[#8c9097] dark:text-white/50">Sheets</div>
    </a>
  </div>
</div>
