<app-page-header [title]="'Survey Calculation Result'" [activeTitle]="'Home'" [title1]="'Survey Calculation Result'"></app-page-header>


@if(dataServices.surveyCalculationDetailsPostLoading$ |async){
  <div class="ti-spinner text-primary p-2 m-2" role="status">
    <span class="sr-only">Loading...</span>
  </div>
}@else{
  <div class="grid grid-cols-12 gap-x-6">
      @if(dataServices.surveyCalculationDetailsPostLoading$ | async){
      <div class="ti-spinner text-primary p-2 m-2" role="status">
        <span class="sr-only">Loading...</span>
      </div>
      }@else{
        @if(this.surveyCalculationDetails.status != "no_data"){
                      <div class="xl:col-span-6 col-span-12">
                        <div class="box custom-box">
                          <div class="box-header">
                            <div class="box-title">Section View</div>
                          </div>
                          <div class="box-body">
                            <div id="dynamic-chart" class="chart-container">
                              <apx-chart [series]="sectionChartOption.series" [chart]="sectionChartOption.chart"
                                [xaxis]="sectionChartOption.xaxis" [dataLabels]="sectionChartOption.dataLabels"
                                [grid]="sectionChartOption.grid" [stroke]="sectionChartOption.stroke" [title]="sectionChartOption.title"
                                [colors]="sectionChartOption.colors" [yaxis]="sectionChartOption.yaxis"
                                [annotations]="sectionChartOption.annotations" [legend]="sectionChartOption.legend"></apx-chart>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="xl:col-span-6 col-span-12">
                        <div class="box custom-box">
                          <div class="box-header">
                            <div class="box-title">Plan View</div>
                          </div>
                          <div class="box-body">
                            <div id="dynamic-chart" class="chart-container">
                              <apx-chart [series]="planChartOption.series" [chart]="planChartOption.chart" [xaxis]="planChartOption.xaxis"
                                [dataLabels]="planChartOption.dataLabels" [grid]="planChartOption.grid" [stroke]="planChartOption.stroke"
                                [title]="planChartOption.title" [colors]="planChartOption.colors" [yaxis]="planChartOption.yaxis"
                                [annotations]="planChartOption.annotations" [legend]="planChartOption.legend"></apx-chart>
                            </div>
                          </div>
                        </div>
                      </div>


        }@else{

                    <div class=" col-span-12 p-4">
                      Can't Find the Survey Data, Ensure Quality Calculation first.
                    </div>

        }

      }

    <div class="xl:col-span-12 col-span-12">


      <div class="table-responsive">



        @if(dataServices.surveyCalculationDetailsPostLoading$ | async){
        <div class="ti-spinner text-primary p-2 m-2" role="status">
          <span class="sr-only">Loading...</span>
        </div>
        }@else {
        @if (this.surveyCalculationDetails.status != "no_data"){

        <div class="box">
          <div class="box-header">
            <h5 class="box-title">Survey Calculation Details</h5>
          </div>
          <div class="box-body">
            <table class="table whitespace-nowrap min-w-full">
              <thead>
                <tr class=" table-primary border-b border-defaultborder">
                  <th scope="col" class="text-start">Depth</th>
                  <th scope="col" class="text-start">Inc</th>
                  <th scope="col" class="text-start">Azimuth</th>
                  <th scope="col" class="text-start">TVD</th>
                  <th scope="col" class="text-start">Vertical Section</th>
                  <th scope="col" class="text-start">+N/-S</th>
                  <th scope="col" class="text-start">+E/-W</th>
                  <th scope="col" class="text-start">DLS</th>
                  <th scope="col" class="text-start">Closure Distance</th>
                  <th scope="col" class="text-start">Closure Direction</th>
                </tr>
              </thead>
              <tbody *ngIf=" !(dataServices.surveyCalculationDetailsPostLoading$ | async);  else loadedContent">
                <!-- @if (this.qualityAnalysis.results.length>0){ -->
                @for(result of this.surveyCalculationDetails.survey_details; track $index){
                <tr class="border-b border-defaultborder">
                  <td>{{result.measured_depth}}</td>
                  <td>{{result.inclination}}</td>
                  <td>{{result.azimuth}}</td>
                  <td>{{result.tvd}}</td>
                  <td>{{result.Vertical_Section}}</td>
                  <td>{{result.latitude}}</td>
                  <td>{{result.departure}}</td>
                  <td>{{result.DLS}}</td>
                  <td>{{result.closure_distance}}</td>
                  <td>{{result.closure_direction}}</td>
                </tr>
                }

              </tbody>
              <ng-template #loadedContent>
                <div class="ti-spinner text-primary p-2 m-2" role="status">
                  <span class="sr-only">Loading...</span>
                </div>
              </ng-template>

            </table>
          </div>

        </div>
        }@else{
        }
        }

      </div>
    </div>
  </div>


}


