<div
  class="header-element py-[0rem] md:px-[0.65rem] px-2 notifications-dropdown header-notification hs-dropdown ti-dropdown !hidden md:!block [--placement:bottom-left]">
    <ul class="list-none !m-0 !p-0 end-0" id="header-notification-scroll" (click)="handleCardClick($event)">
      <li class="ti-dropdown-item dropdown-item " id="not1">
        <div class="flex items-start">
          <div class="pe-2">
            <span
              class="inline-flex text-primary justify-center items-center !w-[2.5rem] !h-[2.5rem] !leading-[2.5rem] !text-[0.8rem] !bg-primary/10 !rounded-[50%]"><i
                class="ti ti-gift text-[1.125rem]"></i></span>
          </div>
          <div class="grow flex items-center justify-between">
            <div>
              <p
                class="mb-0 text-defaulttextcolor dark:text-[#8c9097] dark:text-white/50 text-[0.8125rem] font-semibold">
                <a routerLink="/pages/notifications">Your Order Has Been Shipped</a></p>
              <span class="text-[#8c9097] dark:text-white/50 font-normal text-[0.75rem] header-notification-text">Order
                No: 123456
                Has Shipped To Your Delivery Address</span>
            </div>
            <div>
              <a aria-label="anchor" (click)="removeNotify('not1')"
                class="min-w-fit text-[#8c9097] dark:text-white/50 me-1 dropdown-item-close1"><i
                  class="ti ti-x text-[1rem]"></i></a>
            </div>
          </div>
        </div>
      </li>
      <li class="ti-dropdown-item dropdown-item !flex-none" id="not2">
        <div class="flex items-start">
          <div class="pe-2">
            <span
              class="inline-flex text-secondary justify-center items-center !w-[2.5rem] !h-[2.5rem] !leading-[2.5rem] !text-[0.8rem]  bg-secondary/10 rounded-[50%]"><i
                class="ti ti-discount-2 text-[1.125rem]"></i></span>
          </div>
          <div class="grow flex items-center justify-between">
            <div>
              <p
                class="mb-0 text-defaulttextcolor dark:text-[#8c9097] dark:text-white/50 text-[0.8125rem]  font-semibold">
                <a routerLink="/pages/notifications">Discount Available</a></p>
              <span
                class="text-[#8c9097] dark:text-white/50 font-normal text-[0.75rem] header-notification-text">Discount
                Available On Selected Products</span>
            </div>
            <div>
              <a aria-label="anchor" (click)="removeNotify('not2')"
                class="min-w-fit  text-[#8c9097] dark:text-white/50 me-1 dropdown-item-close1"><i
                  class="ti ti-x text-[1rem]"></i></a>
            </div>
          </div>
        </div>
      </li>
      <li class="ti-dropdown-item dropdown-item" id="not3">
        <div class="flex items-start">
          <div class="pe-2">
            <span
              class="inline-flex text-pink justify-center items-center !w-[2.5rem] !h-[2.5rem] !leading-[2.5rem] !text-[0.8rem]  bg-pink/10 rounded-[50%]"><i
                class="ti ti-user-check text-[1.125rem]"></i></span>
          </div>
          <div class="grow flex items-center justify-between">
            <div>
              <p
                class="mb-0 text-defaulttextcolor dark:text-[#8c9097] dark:text-white/50 text-[0.8125rem]  font-semibold">
                <a routerLink="/pages/notifications">Account Has Been Verified</a></p>
              <span class="text-[#8c9097] dark:text-white/50 font-normal text-[0.75rem] header-notification-text">Your
                Account Has
                Been Verified Sucessfully</span>
            </div>
            <div>
              <a aria-label="anchor" (click)="removeNotify('not3')"
                class="min-w-fit text-[#8c9097] dark:text-white/50 me-1 dropdown-item-close1"><i
                  class="ti ti-x text-[1rem]"></i></a>
            </div>
          </div>
        </div>
      </li>
      <li class="ti-dropdown-item dropdown-item" id="not4">
        <div class="flex items-start">
          <div class="pe-2">
            <span
              class="inline-flex text-warning justify-center items-center !w-[2.5rem] !h-[2.5rem] !leading-[2.5rem] !text-[0.8rem]  bg-warning/10 rounded-[50%]"><i
                class="ti ti-circle-check text-[1.125rem]"></i></span>
          </div>
          <div class="grow flex items-center justify-between">
            <div>
              <p
                class="mb-0 text-defaulttextcolor dark:text-[#8c9097] dark:text-white/50  text-[0.8125rem]  font-semibold">
                <a routerLink="/pages/notifications">Order Placed <span class="text-warning">ID: #1116773</span></a></p>
              <span class="text-[#8c9097] dark:text-white/50 font-normal text-[0.75rem] header-notification-text">Order
                Placed
                Successfully</span>
            </div>
            <div>
              <a aria-label="anchor" (click)="removeNotify('not4')"
                class="min-w-fit text-[#8c9097] dark:text-white/50 me-1 dropdown-item-close1"><i
                  class="ti ti-x text-[1rem]"></i></a>
            </div>
          </div>
        </div>
      </li>
      <li class="ti-dropdown-item dropdown-item" id="not5">
        <div class="flex items-start">
          <div class="pe-2">
            <span
              class="inline-flex text-success justify-center items-center !w-[2.5rem] !h-[2.5rem] !leading-[2.5rem] !text-[0.8rem]  bg-success/10 rounded-[50%]"><i
                class="ti ti-clock text-[1.125rem]"></i></span>
          </div>
          <div class="grow flex items-center justify-between">
            <div>
              <p
                class="mb-0 text-defaulttextcolor dark:text-[#8c9097] dark:text-white/50  text-[0.8125rem]  font-semibold">
                <a routerLink="/pages/notifications">Order Delayed <span class="text-success">ID: 7731116</span></a></p>
              <span class="text-[#8c9097] dark:text-white/50 font-normal text-[0.75rem] header-notification-text">Order
                Delayed
                Unfortunately</span>
            </div>
            <div>
              <a aria-label="anchor" (click)="removeNotify('not5')"
                class="min-w-fit text-[#8c9097] dark:text-white/50 me-1 dropdown-item-close1"><i
                  class="ti ti-x text-[1rem]"></i></a>
            </div>
          </div>
        </div>
      </li>
    </ul>
    @if(!isNotifyEmpty){

    <!-- <div class="p-4 empty-header-item1 border-t mt-2">
      <div class="grid">
        <a routerLink="/pages/notifications" class="ti-btn ti-btn-primary-full !m-0 w-full p-2">View All</a>
      </div>
    </div> -->
    }
    <div class="p-[3rem] empty-item1 " [class.hidden]="!isNotifyEmpty">
      <div class="text-center">
        <span class="!h-[4rem]  !w-[4rem] avatar !leading-[4rem] !rounded-full !bg-secondary/10 !text-secondary">
          <i class="ri-notification-off-line text-[2rem]  "></i>
        </span>
        <h6 class="font-semibold mt-3 text-defaulttextcolor dark:text-[#8c9097] dark:text-white/50 text-[1rem]">No New
          Notifications</h6>
      </div>
    </div>

</div>
